@use '../../../styles/variables';
.activities-cont {
    min-height: 70vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.no-activities {
    text-align: center;
}

.activities-cont h2 {
    margin: 1em auto;
}

@media screen and (max-width: 1200px) {
    .activities-cont {
        width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    .activities-cont {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .activities-cont {
        width: 95%;
    }
}