@use '../../../styles/variables';
.sidebar-nav-cont {
    min-height: 70vh;
    display: flex;
    position: relative;
    overflow: scroll initial;
    border-right: 4px solid variables.$color-lightorange;
}

.nav-sidebar {
    height: 100%;
}

.nav-sidebar {
    background: variables.$color-blue !important;
    font-size: 18px;
}